<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Topupghana</title>
<style>
body {
  background-color: lightblue;
}
p {
  text-align: left;
  color: green;
}
h1{
  text-align: center;
  color: black;
  font-family: serif;
}
h4 {
  text-align: center;
  color: black:darkgoldenrod;
  font-size: medium;
  text-align: left;
}
p {
    font-family: serif;
    text-transform: capitalize;
    font-size: medium;
    text-align: justify;
}
</style>
<b><h1>TOPUP PLUS AND EARN LIMITED GHANA<h1></b>
<p><h4> MEMORANDUM OF UNDERSTANDING<br>
    <br>
                 Between<br>
                 <br>
          Halges financial Technologies Limited<br>
          <br>
                 And<br>
                 <br>
           TOPUP Plus<br></h4></p>
<div>
  <p><b> Once you are able to understand the priciples of business theres nothing that can stop you.<br>learning code is easy when you know the basic.</b></p>
</div>
<b><h3>visit my instagram page for more details stay bless    <button><a href="http://instagram.com/iamedoho1">instagram</button></h3></a></b>
<ul>
  <p>learning how to code is one of the best thing ever am really enjoying this codes</P>
  <p>dont let poeple tell you that coding is hard</p>
  <p>once you learn how to code, trust me yo can code anything on earth</P>
</ul>

<ol>
  <li>Mehhhhnn this is just fun am enjoying this stuff</li>
  <li>Truly when you have wisdom is truly</li>
</ol>
<button> Jah bless</button>
<figcaption><cite> OKAY THAT SHOULD BE ALL FOR TODAY</cite></figcaption>
<p>Some font Awesome icons:</p>
<P> CONTACT FORM</P>
<div ng-app="my app" ng-controller="myCtrl">
    First Name: <input type="text"ng-model="First Name"><br>
    Last Name: <input type="text"ng-model="Last Name"><br>
    <br>
    <button><a href="http://gedoho3@gmail.com">Summit form</a></button>
</div>
<!--this is a commment box-->
<p>okay it fyn done for today</p>
<body>
</body>
</html>
